.sectionTitle {
    width: 95%;
    margin: 0 0 5px 0;
    border-bottom: 2px solid rgb(0, 65, 211);
    padding: 5px 0;
    font-size: 20px;
}

.info {
    width: 1526px;
}

/* Info User */
.info.user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.row {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 10px;
}

.card {
    height: 350px;
    border-radius: 7px;
    padding: 20px;
}

.card.data {
    width: 560px;
    background-color: rgb(0, 65, 211);
    border: 3px solid rgb(0, 65, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card.data .content {
    display: inline-flex;
}

.card.data .content img {
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 30px;
}

.card.data .content .profile {
    align-content: center;
    color: white;
}

.card.data .content .profile .name,
.card.data .content .profile .position {
    margin: 0;
}

.card.data .content .profile .departement {
    margin: 8px 0 8px;
    font-size: 15px;
}

.card.data .content .profile .position {
    font-size: 13px;
}

.card.data .leave {
    display: inline-flex;
    color: white;
    justify-content: space-between;
    margin: 20px 0 35px;
    border: 2px solid white;
    border-radius: 7px;
}

.card.data .leave div {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.card.data .leave .requested {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.card.data .leave div h5 {
    margin: 0;
}

.card.data .leave div p {
    margin: 15px 0 0;
    font-size: 15px;
}

.card.data .button {
    display: inline-flex;
    color: white;
    justify-content: space-evenly;
}

.card.data .button a {
    padding: 20px 70px;
    color: white;
    border-radius: 7px;
    border: 2px solid white;
    text-decoration: none;
    transition: all 0.4s ease;
}

.card.data .button a[id="presensi"] {
    background-color: white;
    color: rgb(0, 65, 211);
}

.card.data .button a:hover {
    background-color: #43A047;
    border: 2px solid #43A047;
    color: #F5F5F5;
}

.card.attendance,
.card.task,
.card.memo {
    border: 3px solid rgb(0, 65, 211);
    display: flex;
    flex-direction: column;
}

.card.attendance {
    width: 780px;
}

.card.attendance h4,
.card.task h4,
.card.memo h4 {
    margin: 0 0 10px 0;
    font-weight: 600;
}

.card.attendance #attendance,
.card.task #task,
.card.memo #memo {
    margin: 0;
}

.card.task {
    width: 735px;
    height: 360px;
}

.card.memo {
    width: 600px;
    background-color: rgb(0, 65, 211);
    color: white;
    height: 360px;
}

.card.memo th {
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.info.employees {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.card.list {
    width: 100%;
    border: 3px solid rgb(0, 65, 211);
    display: flex;
    flex-direction: column;
    height: 460px;
}

.card.list h4 {
    margin: 0 0 10px 0;
    font-weight: 600;
}

.card.list .cardHeader {
    display: inline-flex;
    justify-content: space-between;
}

.card.list .cardHeader h4 {
    font-weight: 600;
    align-content: center;
    margin: 0;
}

.card.list .cardHeader a {
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
    color: rgb(0, 65, 211);
    border: 2px solid white;
    transition: border 0.5s ease;
}

.card.list .cardHeader a:hover {
    border: 2px solid rgb(0, 65, 211);
}

.employeeProfile {
    border-radius: 50%;
    vertical-align: middle;
}

.card.list span {
    margin-right: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content.active {
    opacity: 1;
    transform: translateY(0);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Ubah ukuran teks untuk elemen-elemen datatable */
.card.list .dataTables_length,
.card.list .dataTables_filter,
.card.list .dataTables_info,
.card.list .dataTables_paginate {
    font-size: 12px;
}

/* Ubah ukuran elemen input dan tombol untuk filter dan pagination */
.card.list .dataTables_filter input,
.card.list .dataTables_paginate .paginate_button {
    font-size: 12px;
    padding: 5px;
}

/* Ubah ukuran elemen select untuk show entries */
.card.list .dataTables_length select {
    font-size: 12px;
    padding: 2px;
}

.card.list .dataTables_filter {
    margin: 7px 0 20px;
    font-size: 15px;
}

table.dataTable tbody {
    font-size: 13px;
}

table.dataTable thead th {
    background-color: transparent !important;
    color: #333;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.tanggal {
    width: 30%;
}

.nomor {
    width: 10%;
}

.kehadiran {
    width: 10%;
}

.status {
    width: 50px;
}

.memo-memo {
    width: 60%;
}

.task-tugas {
    width: 30%;
}

table.dataTable tbody td {
    padding: 8px;
    background-color: transparent !important;
    height: 30px;
}

table.dataTable {
    border-collapse: collapse;
    width: 100%;
}

table.dataTable thead {
    border-top: 2px solid rgb(0, 65, 211);
    border-bottom: 2px solid rgb(0, 65, 211);
    background-color: transparent !important;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

table.dataTable tbody tr:hover {
    background-color: transparent !important;
}

/* Status color boxes */
.status-tepat-waktu {
    background-color: #20fe33d8;
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
}

.status-terlambat {
    background-color: #f94449;
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
}
